In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
#Q1. Pandas version
pd.__version__

'2.3.1'

In [7]:
# Q2. Records count
# Menampilkan jumlah baris (records) dan kolom
print(df.shape)

(9704, 11)

In [8]:
# Q3. Fuel types
# Menampilkan nama-nama kolom dalam dataset
print(df.columns)

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [11]:
# Menampilkan semua jenis bahan bakar yang unik
print(df['fuel_type'].unique())
# ada dua jenis bahan bakar pada dataset tersebut

['Gasoline' 'Diesel']

In [10]:
# Menampilkan jumlah setiap jenis bahan bakar
print(df['fuel_type'].value_counts())

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [13]:
# Q4. Missing values
# Mengecek missing values di seluruh dataset
missing_values = df.isnull().sum()

# Menampilkan jumlah missing values per kolom
print(missing_values)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [14]:
# Menghitung jumlah kolom dengan missing values
columns_with_missing_values = (missing_values > 0).sum()

# Menampilkan jumlah kolom yang memiliki missing values
print(columns_with_missing_values)

4

In [20]:
# Q5. Max fuel efficiency
asia_cars = df[df['origin']== 'Asia']
print(asia_cars)

      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
8                     250            1.0       174.0     2714.219310
12                    320            5.0       145.0     2783.868974
14                    200            6.0       160.0     3582.687368
20                    150            3.0       197.0     2231.808142
21                    160            4.0       133.0     2659.431451
...                   ...            ...         ...             ...
9688                  260            4.0         NaN     3948.404625
9692                  180            3.0       188.0     3680.341381
9693                  280            2.0       148.0     2545.070139
9698                  180            1.0       131.0     3107.427820
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year origin fuel_type         drivetrain  num_doors  \
8             10.3        2016   Asia    Diesel  Front-wheel drive       -1.0
12            15.1        2010   Asia    Diesel    All-wheel drive        1.0
14            14.9        2007   Asia    Diesel    All-wheel drive        0.0
20            18.7        2011   Asia  Gasoline  Front-wheel drive        1.0
21             NaN        2016   Asia  Gasoline  Front-wheel drive       -1.0
...            ...         ...    ...       ...                ...        ...
9688          15.5        2018   Asia    Diesel    All-wheel drive       -1.0
9692          18.0        2016   Asia  Gasoline  Front-wheel drive        1.0
9693          15.6        2012   Asia    Diesel    All-wheel drive        0.0
9698          13.2        2005   Asia  Gasoline  Front-wheel drive       -2.0
9703          14.7        2005   Asia    Diesel    All-wheel drive       -1.0

      fuel_efficiency_mpg
8               16.823554
12              16.175820
14              11.871091
20              18.889083
21              16.077730
...                   ...
9688            11.054830
9692            11.711653
9693            17.202782
9698            13.933716
9703            14.884467

[3247 rows x 11 columns]

In [36]:
# Mencari nilai maksimum dari fuel efficiency untuk mobil Asia
max_fuel_efficiency = asia_cars['fuel_efficiency_mpg'].max()
print(max_fuel_efficiency)

23.759122836520497

In [23]:
# Q6. Median value of horsepower
# 1 Find the median value of the horsepower column in the dataset.
median_hp = df['horsepower'].median()
print(f"Median Horsepower: {median_hp}")

Median Horsepower: 149.0

In [26]:
# Next, calculate the most frequent value of the same horsepower column.
mode_hp = df['horsepower'].mode()[0]  # [0] karena mode() mengembalikan series, ambil nilai pertama
print(f"Most frequent horsepower: {mode_hp}")

Most frequent horsepower: 152.0

In [28]:
# Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
df['horsepower'] = df['horsepower'].fillna(mode_hp)

In [34]:
# Now, calculate the median value of horsepower once again.
new_median_hp = df['horsepower'].median()
print(f"New median HP : {new_median_hp}")
print(f"Previously Median Horsepower: {median_hp}")

New median HP : 152.0
Previously Median Horsepower: 149.0

In [58]:
# Q7. Sum of weights
# Select only columns vehicle_weight and model_year
asia_cars_sub = asia_cars[['vehicle_weight','model_year']]
print(asia_cars_sub)

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [60]:
# Select the first 7 values
asia_cars_sub_7 = asia_cars_sub.head(7)

In [61]:
# Get the underlying NumPy array. Let's call it X.
X = asia_cars_sub_7.values

In [64]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
import numpy as np
XTX = np.dot(X.T, X)
# Invert XTX.
XTX_invers = np.linalg.inv(XTX)
print(XTX_invers)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [66]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print (Y)

[1100 1300  800  900 1000 1100 1200]

In [67]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
W = np.dot(np.dot(XTX_invers, X.T), Y)
print (W)

[0.01386421 0.5049067 ]

In [69]:
# What's the sum of all the elements of the result?
W_sum = np.sum(W)
print(W_sum)

0.5187709081074016